.leftbar-calender-outer-div {
    /* flex: 9; */
    /* padding-top: 20px; */
    min-height: 20vh;
}
.leftbar-week-outer-div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.leftbar-calender-inner-div {
    /* flex: 9; */
    display: grid;
    min-height: inherit;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: stretch;
    /* grid-auto-rows: minmax(100px, auto); */
}
