.leftbar-singlebox-outer-div {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    font-size: 10px;
}
.leftbar-singlebox-inner-div {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.leftbar-singlebox-inner-div:hover {
    /* background-color: #F1EFEF; */
    background-color: #EEF5FF;
    /* background-color: #B4D4FF; */
    transition: all .3s ease;
}
.leftbar-today {
    background-color: #AAD9BB;
}
.leftbar-diffmonth {
    color: rgba(0,0,0,.25);
    background-color: transparent;
}
.leftbar-nonselected {
    background-color: transparent;
}
.leftbar-selected {
    background-color: #B4D4FF;
}
.leftbar-today-selected {
    background-color: #B4D4FF;
}